{% extends 'base.html.twig' %}

{#{% form_theme userUpdateForm 'views/form/Form-template.html.twig' %}#}

{% block body %}
    <main class="w-full ">
        <section>
            <div class="p-3 bg-[#D7EAA5] rounded-xl text-neutral-800 shadow-xl">
                <h1 class="text-xl font-medium text-neutral-900 mb-3">Modification du mot de passe</h1>

                {% form_theme pwdUpdateForm 'views/form/form-theme-profil.html.twig' %}
                <div class="w-full text-sm">
                    {{ form_start(pwdUpdateForm) }}
                    {{ form_widget(pwdUpdateForm) }}
                    {{ form_end(pwdUpdateForm) }}
                </div>
                <a class="flex" href="{{ path('app_profil_details', { 'id' : app.user.id }) }}">
                    Annuler
                </a>
            </div>
        </section>
    </main>
{% endblock %}

{% block title %}
    Modification du mot de passe
{% endblock %}