{% extends 'base.html.twig' %}

{% form_theme userUpdateForm 'views/form/Form-template.html.twig' %}

{% block body %}
    <main class="w-full p-3">
        <section>
            <div class="p-3 bg-[#D7EAA5] rounded-xl text-neutral-800 shadow-xl">
                <h1 class="text-xl font-medium text-neutral-900 mb-3">Modification du profil</h1>

                {% form_theme userUpdateForm 'views/form/form-theme.html.twig' %}
                <div class="w-full text-sm">
                    {{ form_start(userUpdateForm) }}
                    {{ form_widget(userUpdateForm) }}
                    {{ form_end(userUpdateForm) }}
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block title %}
    {{ parent() }} | update
{% endblock %}