<div id="sortie__cancel" class="custom__collapse fixed bottom-0 w-full h-[0vh] transition-all duration-600 z-1000 ease-in-out">
    <div class="flex flex-col w-full h-full collapse__cancel">
        <div class="rounded-t-xl sortie__container mt-auto px-3 bg-[#f1edeb] h-[70vh]">
            <div class="flex items-start sticky top-0 sortie__container pt-5 z-10">
                <h3 class="font-semibold mb-5 text-2xl">Merci de préciser la raison <br> de l'annulation</h3>
                <div class="cursor-pointer toggle__collapse ms-auto opacity-70 hover:opacity-100 transition" data-target="sortie__cancel">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="size-7">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"></path>
                    </svg>
                </div>
            </div>
            <div class="pb-10" id="cancel_container">

            </div>
        </div>
    </div>
</div>

{% block extraJs %}
    <script src="{{ asset('/js/cancelSortie.js') }}"></script>
{% endblock %}


