{% extends 'base.html.twig' %}

{% block body %}
    <h1>Creation page : Sortie</h1>

    {{ form_start(sortieFormCreation) }}
    {{ form_widget(sortieFormCreation) }}
    <button>Créer</button>
    {{ form_end(sortieFormCreation) }}

{% endblock %}

{% block title %}

{% endblock %}

