{% extends 'base.html.twig' %}

{% block body %}
    <main>
        {% include 'views/sortie/_details.html.twig' with { sortie: sortie } %}
    </main>


{% endblock %}
{% block extraJs %}
    <script src="{{ asset('/js/subcription.js') }}"></script>
    <script src="{{ asset('/js/collapse.js') }}"></script>
{% endblock %}
{% block title %}{{ sortie.nom }}{% endblock %}
