<section>
    <div class="w-full flex flex-col">
        <img src="{{ asset("/img/icon/empty-folder.png") }}" alt="Empty Icon" class="opacity-40 w-60 mx-auto">
        <h1 class="text-black/40 text-3xl font-bold text-center mt-3">Oops ! <br>Aucun résultat</h1>
    </div>
</section>