@font-face {
    src: url("../font/Nohemi-VF.ttf");
    font-family: "Nohemi", sans-serif;
}

body {
    font-family: Nohemi, sans-serif;
}


input[type="checkbox"] {
    background: transparent;
}
.radio-btn.active{
    background-color: #f8f8f8;
    color: oklch(26.9% 0 0);
    border-color: #f8f8f8;
}


.sortie {
    color: oklch(26.9% 0 0);

    .participant{
        color: #cccccc;
    }

    .sortie__container{
        background-color: #f1edeb;
    }



    .sortie__users .participant {
        border-color: #D1EB99;
    }

    .sortie__btn {
        background-color: #D1EB99;
        color: oklch(26.9% 0 0);
    }



}
.sortie.insc_ouverte.inscrit {
    .sortie__btn {
        background-color: #aee5a9;
        color: oklch(26.9% 0 0);
    }
    .sortie__users .participant {
        border-color: #aee5a9;
    }
}

.sortie.insc_cloturee {
    .sortie__users .participant {
        border-color: #F29D73;
    }

    .sortie__btn {
        background-color: #F29D73;
    }
}

.sortie.activite_en_cours {


    .sortie__users .participant {
        border-color: #a5e3d0;
    }

    .sortie__btn {
        background-color: #a5e3d0;
    }
}

.sortie.annulee {

    .sortie__users .participant {
        border-color: #f57f7f;
    }

    .sortie__btn {
        background-color: #f57f7f;

    }
}

.sortie.passee {

    .sortie__users .participant {
        border-color: #a2a1de;
    }

    .sortie__btn {
        background-color: #a2a1de;

    }
}

.custom__collapse.active{

    height: 100vh;
}

.modal-lieu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: white;
    padding: 30px;
    border-radius: 8px;
    max-width: 500px;
}

.lieu_details {
    display: none;
}
