@font-face {
    src: url("../font/Nohemi-VF.ttf");
    font-family: "Nohemi", sans-serif;
}

body {
    font-family: Nohemi, sans-serif;
}


input[type="checkbox"] {
    background: transparent;
}


.sortie {
    color: oklch(26.9% 0 0);

    .sortie__container{
        background-color: #f8f8f8;
    }

    a {
        color: #e8e8e8;
        background-color: oklch(26.9% 0 0);
    }

    .sortie__users img {
        border-color: #D1EB99;
    }

    .sortie__btn {
        background-color: #D1EB99;
        color: oklch(26.9% 0 0);
    }
}

.sortie.insc_cloturee {
    .sortie__users img {
        border-color: #F29D73;
    }

    .sortie__btn {
        background-color: #F29D73;
    }
}

.sortie.activite_en_cours {
    .sortie__container{
        background-color: #F29D73;
    }

    .sortie__users img {
        border-color: #f0f0e6;
    }

    .sortie__btn {
        background-color: #f0f0e6;
    }
}

.sortie.annulee {
    color: #f0f0e6;

    .sortie__container{
        background-color: oklch(26.9% 0 0);
    }
    a {
        background-color: #f0f0e6;
        color: oklch(26.9% 0 0);
        font-weight: 500;
    }

    .sortie__users img {
        border-color: #f57f7f;
    }

    .sortie__btn {
        background-color: #f57f7f;

    }



}

.modal-lieu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
    align-items: center;
    justify-content: center;
}

.modal-content {
    background: white;
    padding: 30px;
    border-radius: 8px;
    max-width: 500px;
}
